@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;800&display=swap");

body {
  margin: 0;
  background-color: #000300;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dashboard .active {
  background-color: #334155;
}
.navbar .active {
  border-bottom: 2px solid #00df9a;
  color: #00df9a;
}
